<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/shared/layout::dynamic(~{::title},~{::main})}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:fragment="title">Quên mật khẩu</title>
</head>

<body>
    <main th:fragment="main">
        <h2>Quên mật khẩu</h2>
        <form action="/account/forgot-password" method="post">
	        <ul>
	            <li>Username: <input name="username"></li>
	            <li>Email Address: <input name="email"></li>
	            <li><button>Retrieve</button></li>
	        </ul>
	    </form>
    </main>
</body>

</html>