<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/shared/layout::dynamic(~{::title},~{::main})}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title th:fragment="title">Shop</title>
</head>

<body>
    <main th:fragment="main">
        <div class="container py-5">
        <div class="row">

            <div class="col-lg-3">
                <h1 class="h2 pb-4">Categories</h1>
                <ul class="list-inline shop-top-menu pb-3 pt-1" th:each="c, s: ${@categoryService.findAll()}">
                    <li class="list-inline-item" >
                        <a class="h3 text-dark text-decoration-none mr-3" th:href="@{|/product/list-by-category/${c.id}|}" th:text="${c.name}">
                            
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-9">
                
                <div class="row" >
                	
        
        			<th:block th:each="p: ${items}">
                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card ">
                                <img class="card-img img-fluid" style="width: 300px;height: 300px;" th:src="@{|/rsx/img/${p.image}|}">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white mt-2" th:href="@{|/product/detail/${p.id}|}"><i class="far fa-eye"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" th:href="@{|/cart/add/${p.id}|}"><i class="fas fa-cart-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="shop-single.html" class="h3 text-decoration-none" th:text="${p.name}">Oupidatat non</a>
                                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                    
                                    <li class="pt-2">
                                        <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                    </li>
                                </ul>
                                <ul class="list-unstyled d-flex justify-content-center mb-1">
                                    <li>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                    </li>
                                </ul>
                                <p class="text-center mb-0" th:text="${p.price}">$250.00</p>
                            </div>
                        </div>
                    </div>
                    </th:block>
                </div>
                
            </div>

        </div>
    </div>
    </main>
</body>

</html>